.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: transparent;           
  color: #f4e8c1;
  margin-bottom: 2rem;
  position: relative;
}

.game-title {
  margin-top: 0.5rem;
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Press Start 2P', monospace;
  letter-spacing: 1px;
  text-align: center;
  color: #d0c383;
  text-shadow: 1px 1px 0px #090909;
}

.score-board {
  display: flex;
  gap: 2rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #d1cbac;
  font-family: 'Press Start 2P', monospace;
}

.score-board span {
  color: #c89b20;
}

.header-actions {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: flex;
  gap: 10px;
}

.header-btn {
  font-family: 'Inter', sans-serif;
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 1000px;
  background-color: #d0c383;
  color: #0F3C65;           
  border: 3px solid #082138;
  cursor: pointer;
  box-shadow: 3px 3px 0px #082138;
}

.header-btn:hover {
  background-color: #9a905e;
  color: #ffffff;
}